.filter-by-rating {
    width: clamp(126px, 24vw, 24vw);
    height: 25px;
    text-align: center;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    margin: 5px;
    font-size: clamp(12px, 14px, 24px);
}