.search-by-title {
    width: clamp(31vw, 24vw, 45vw);
    height: 20px;
    text-align: center;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    margin: 5px;
    font-size: clamp(12px, 14px, 24px);
}

.nav-search-button {
    background-color: var(--tertiary-color);
    color: var(--black);
    font-weight: 700;
    font-size: clamp(12px, 14px, 24px);
    border-style: solid;
    border-color: white;
    border-radius: 5px;
  }