.featured-movie {
  background-color: var(--primary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--white);
}

.featured-movie-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

/*--------------------------// movie-title-poster-rating //---------------------------------*/
.featured-movie-title-poster-rating {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid yellow;
}

.featured-movie-title-poster-rating img {
  width: 200px;
}

.featured-movie-rating {
  margin: 0.83em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------------------------// right-info //-------------------------------*/
.featured-movie-right-info {
  width: 67vw;
  border: 2px solid green;
}

.featured-movie-button-and-tagline {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  border: 2px solid purple;
}

.featured-movie-button {
  background-color: var(--tertiary-color);
  color: var(--black);
  font-weight: 700;
  font-size: clamp(12px, 14px, 24px);
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}

.featured-movie-overview {
  .outer-wrapper {
      /* Controls the outer spacing of the description */
      margin: 20px 0;  /* Adds space above and below the description */
    }

  .inner-wrapper {
    /* Controls the inner spacing and ensures content is well-contained */
    padding: 10px 15px;  /* Adds padding inside the description area */
    background-color: #ffffff; /* Background color for description box */
    border-radius: 8px;  /* Rounds the corners of the description box */
  }
}

.featured-movie-all-details {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  border: 2px solid cyan;
}

.featured-movie-detail {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

/*-----------------------------// Genres //--------------------------------*/
.featured-movie-genres {

}

.featured-movie-genres-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.featured-movie-genres-box {
  width: 15vw;
  margin: 5px;
  text-align: center;
  padding: 5px;;
  background-color: var(--secondary-color);
  border: 1px solid var(--white);
}
/*-----------------------------// videos //--------------------------------*/

.featured-movie-videos {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px;
}

.video {
  width: 90vw;
  height: 51vw;
  margin: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--white);
  border-image: none;
}