:root {
  --white: #FFFFFF;
  --black: #000000;
  --primary-color: #082032;
  --secondary-color: #334756;
  --tertiary-color: #F0A500;

  .exo-body-font {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .yanone-kaffeesatz-site-title-font {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
}

body {
  background-image: url('../public/pxfuel.jpg');
  color: var(--white);
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}