.carrot-logo {
  width: 60px;
}

.site-title {
  color: #F0A500;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid white; */
  font-size: 25px;
}

.logo-container {
  display: flex;
  margin-left: 20px;

}

.full-site-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}